body {
    background-color: #FFEBCD; /* Blanched Almond */
}

.container {
    width: 100%;
    height: 100%;
    text-align: center;
}

h1 {
    text-align: center;
    z-index: 2;
}

#inner-container {
    display: inline-block;
    z-index: 0;
    background-color: black;
}

form {
    opacity: .95;
    display: inline-block;
    z-index: 1;
    padding: 5vw;
    font-size: 20px;
    background-color: #D0F0C0; /* Tea green */
    border: 3px solid #3A5F0B; /* Leaf green */
    border-radius: 15px;
    box-shadow: 0px 0px 40px 30px #e6be8a; /* Pale gold */
    text-align: left;
}

.error {
    color: purple;
}

#welcome-inner-container {
    display: inline-block;
}

#welcome-text, #continue {
    font-size: 5rem;
}